<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
    
    <div id="box">
        <p v-if='true'>p1</p>
        <p v-if='flag'>p2</p>
    </div>
    <script>
        new Vue({
            el:'#box',
            data:{
                flag:false
            }
        })
    </script>


</body>
</html>